/* HTML Tags
   ====================================================================== */

/* All */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}


/* Individuals */

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  padding: 2rem 3rem 4rem;
  min-height: 100vh;
  width: 100vw;
  font-family: var(--fo-base);
  font-weight: var(--fo-regular);
  color: var(--th-text);
  background-color: var(--th-background-pry);
}

img {
  display: block;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
}

img:not([alt]) {
  border: 0.2rem solid red;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

li {
  margin-bottom: 0.25rem;
}


/* Groups */

h1,
h2 {
  font-family: var(--fo-primary);
  color: var(--th-text-title);
  margin-bottom: 1rem;
}

h3,
h4,
h5,
h6 {
  font-family: var(--fo-primary);
  color: var(--th-text-alt);
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: var(--fo-bold);
}

a:link,
a:visited {
  color: var(--th-link);
  text-decoration: underline;
}

button,
summary,
input[type="submit"] {
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}


/* Rules */

ul > p,
ol > p {
  margin-left: -1rem !important;
}

ul, ol {
  padding-left: 1rem !important;
  margin: 1rem 0 !important;
}


/* Styling */

main {
  padding: 2rem;
  min-height: 99vh;
  border-radius: .5rem;
  background-color: var(--th-background-alt);
}

button,
input[type="submit"] {
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 1rem;
  color: var(--th-button-text);
  background-color: var(--th-button);
  font-weight: var(--fo-bold);
}

button:active,
input[type="submit"]:active {
  background-color: var(--th-button-hover);
}

button:not(:last-child),
input:not(:last-child) {
  margin-right: .5rem;
}

span {
  border-bottom: .15rem solid var(--th-border-alt);
  font-family: inherit;
  font-size: inherit;
  color: var(--th-border-alt);
}

hr {
  margin: 1rem 0;
}

input,
textarea {
  padding: 0.5rem 2rem;
  border: 1px solid var(--co-blank);
  border-radius: 1rem;
  color: var(--th-text);
  background-color: var(--th-other-input);
}

input:hover,
textarea:hover {
  border-color: var(--th-text);
  transition: 0.1s;
}

input:focus,
textarea:focus {
  color: var(--th-text-alt);
  outline: none;
}


/* Unique */

#id_btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#id_btnTheme,
#id_btnReturn {
  padding: .5rem 1rem;
  border: 1px solid #FFF;
  background-color: var(--th-background-pry);
}
