/* has
   ====================================================================== */

.has_Grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}


/* Flexbox */

.has_Row {
  display: flex;
  flex-direction: row;
}

.has_Row > *:not(:last-child) {
  margin-right: 1rem;
}

.has_Column {
  display: flex;
  flex-direction: column;
}

.has_Column > * {
  flex-grow: 1;
  flex: 1 0 0;
}


/* Table */

.has_Table {
  margin: 2rem 0;
  table-layout: fixed;
  width: 100%;
  border: none;
}

.has_Table th {
  background-color: var(--th-table);
}

.has_Table tr:hover {
  background-color: var(--th-table-hover);
  color: var(--th-text-alt);
}

.has_Table thead,
.has_Table th {
  font-weight: var(--fo-bold);
}

.has_Table th,
.has_Table td {
  padding: 0.5rem;
}

.has_Table td {
  border-bottom: 1px solid var(--th-table-brd);
}
