/* is
   ====================================================================== */

.is_Upper {
  order: -1;
}

.is_Rounded {
  border-radius: 1rem;
}

.is_Opacity {
  opacity: 0.25;
  transition: 0.2s;
}

.is_Opacity:hover {
  opacity: 1;
}


/* Not */

.is_NoList > li {
  list-style: none;
}

.is_NoDisplay {
  display: none;
}


/* Size */

.is_Full {
  width: 100%;
}

.is_Smallest,
.is_Smaller,
.is_Small,
.is_Big,
.is_Bigger,
.is_Biggest,
.is_Normal {
  width: var(--size);
  height: var(--size);
  margin: 1rem;
  --pixel: 250px;
}

.is_Smallest {
  --size: calc(var(--pixel) / 4);
}
.is_Smaller {
  --size: calc(var(--pixel) / 2.7);
}
.is_Small {
  --size: calc(var(--pixel) / 2);
}
.is_Normal {
  --size: var(--pixel);
}
.is_Big {
  --size: calc(var(--pixel) * 1.25);
}
.is_Bigger {
  --size: calc(var(--pixel) * 1.5);
}
.is_Biggest {
  --size: calc(var(--pixel) * 2);
}


/* Watch */

.is_Watch {
  outline: 2px dashed var(--th-border-alt);
}

.is_WatchAll * {
  outline: 2px solid var(--th-border-hover);
}


/* State */

.is_Hover:hover {
  border-radius: 0;
  outline: 0.15rem dashed var(--th-border-hover);
}


/* Other */

section,
.is_Block {
  display: flex;
  flex-direction: column;
}

article,
.is_Box {
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid var(--th-other-box);
  border-radius: .5rem;
}
