/* styles tags
   ====================================================================== */

*:not(ul) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem;
  min-height: 99vh;
  border-radius: .5rem;
  background-color: var(--th-background-alt);
}

main * {
  margin: 0.5em 0;
}

section,
.is_block {
  display: flex;
  flex-direction: column;
}

article,
.is_box {
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid var(--th-other-box);
  border-radius: .5rem;
}

button {
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 1rem;
  color: var(--th-button-text);
  background-color: var(--th-button);
  font-weight: var(--fo-bold);
}

button:active {
  background-color: var(--th-button-hover);
}

button:not(:last-child) {
  margin: 1rem 0.5rem;
}

mark {
  padding: 0 0.25rem;
}

input,
textarea {
  padding: 0.5rem 2rem;
  border: 1px solid var(--co-blank);
  border-radius: 1rem;
  background-color: var(--th-other-input);
  color: var(--th-text);
}

input:hover,
textarea:hover {
  border-color: var(--th-text);
  transition: 0.1s;
}

input:focus,
textarea:focus {
  outline: none;
  color: var(--th-text-alt);
}

span {
  border-bottom: .15rem solid var(--th-border-alt);
  font-family: inherit;
  font-size: inherit;
  color: var(--th-border-alt);
}

hr {
  margin: 1rem 0;
}


/* Others */

#btn {
  position: absolute;
  top: 1px;
  left: 1px;
}

#id_btnTheme,
#id_btnReturn {
  padding: .5rem 1rem;
  border: 1px solid #fff;
  background-color: var(--th-background-pry);
}
