/* FONTS
   ====================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* VARIABLES
   ====================================================================== */

:root {
  --fo-base: "Nunito Sans", sans-serif;
  --fo-primary: "Ubuntu", sans-serif;

  --fo-large: 5rem;
  --fo-medium: 2.5rem;
  --fo-normal: 1rem;
  --fo-small: 0.5rem;

  --co-blank: transparent;
  --co-Terracotta: #e17055;
  --co-MineShaft: #333333;
  --co-LinkWater: #f4f5fc;
  --co-White: #ffffff;
  --co-Black: #242424;
  --co-CuriousBlue: #2E86DE;
  --co-SoothingBreeze: #00cec9;
  --co-Woodsmoke: #111113;
  --co-EbonyClay: #273039;
  --co-Polar: #F4F9FD;
  --co-RegentGray: #828E9A;
  --co-LimedSpruce: #333D47;
}

body[data-theme="normal"] {
  --th-background-pry: var(--co-CuriousBlue);
  --th-background-alt: var(--co-White);
  --th-button: var(--co-CuriousBlue);
  --th-button-text: var(--co-White);
  --th-button-hover: var(--co-Black);
  --th-text-title: var(--co-CuriousBlue);
  --th-text-subtitle: var(--co-Black);
  --th-text: var(--co-Black);
  --th-border-pry: var(--co-MineShaft);
  --th-border-alt: var(--co-Terracotta);
  --th-border-hover: var(--co-CuriousBlue);
  --th-other-input: var(--co-LinkWater);
  --th-other-box: var(--co-SoothingBreeze);
}

body[data-theme="dark"] {
  --th-background-pry: var(--co-Woodsmoke);
  --th-background-alt: var(--co-EbonyClay);
  --th-button: var(--co-CuriousBlue);
  --th-button-text: var(--co-White);
  --th-button-hover: var(--co-Black);
  --th-text-title: var(--co-Polar);
  --th-text-subtitle: var(--co-Polar);
  --th-text: var(--co-RegentGray);
  --th-border-pry: var(--co-MineShaft);
  --th-border-alt: var(--co-Terracotta);
  --th-border-hover: var(--co-CuriousBlue);
  --th-other-input: var(--co-LimedSpruce);
  --th-other-box: var(--co-SoothingBreeze);
}

/* STYLES
   ====================================================================== */

/* Global
   *********************************** */

* {
  font-family: var(--fo-base);
}

*:not(ul) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HTML TAGS
   *********************************** */

html {
  font-size: 16px;
}

body {
  padding: 2rem 3rem 4rem;
  background-color: var(--th-background-pry);
}

main {
  padding: 2rem;
  min-height: 99vh;
  border-radius: .5rem;
  background-color: var(--th-background-alt);
}
main * {
  margin: 0.5em 0;
}

section {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: var(--fo-primary);
  color: var(--th-text-title);
}

h4,
h5,
h6 {
  font-family: var(--fo-primary);
  color: var(--th-text-subtitle);
}

p,
li {
  color: var(--th-text);
}

button {
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 1rem;
  color: var(--th-button-text);
  background-color: var(--th-button);
  font-weight: var(--fo-bold);
}
button:active {
  background-color: var(--th-button-hover);
}
button:not(:last-child) {
  margin: 1rem 0.5rem;
}

mark {
  padding: 0 0.25rem;
}

input,
textarea {
  padding: 0.5rem 2rem;
  border: 1px solid var(--co-blank);
  border-radius: 1rem;
  background-color: var(--th-other-input);
}
input:hover,
textarea:hover {
  border-color: var(--th-text);
  transition: 0.1s;
}
input:focus,
textarea:focus {
  outline: none;
}

article {
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid var(--th-other-box);
  border-radius: .5rem;
}

span {
  border-bottom: .15rem solid var(--th-border-alt);
  font-family: inherit;
  font-size: inherit;
  color: var(--th-border-alt);
}

hr {
  margin: 1rem 0;
}

/* UTILS
   *********************************** */

.u-unlist > li {
  list-style: none;
}

.u-row {
  display: flex;
  flex-direction: row;
}
.u-row > *:not(:last-child) {
  margin-right: 1rem;
}

.u-colunm {
  display: flex;
  flex-direction: row;
}
.u-column > * {
  flex-grow: 1;
  flex: 1 0 0;
}

.u-top {
  order: -1;
}

.u-isHover:hover {
  border-radius: 0;
  outline: .15rem dashed var(--th-border-hover);
}

.u-image-small {
  --size: 0.5rem;
  width: var(--size);
  height: var(--size);
  margin: 1rem;
}

.u-image-medium {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  margin: 1rem;
}

.u-image-small {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  margin: 1rem;
}

.u-image-large {
  --size: 7.5rem;
  width: var(--size);
  height: var(--size);
  margin: 0.25rem;
}
