/* COLORS
   ====================================================================== */

:root {
  --co-blank: transparent;
  --co-Terracotta: #E17055;
  --co-MineShaft: #333333;
  --co-LinkWater: #F4F5FC;
  --co-White: #FFFFFF;
  --co-Black: #242424;
  --co-CuriousBlue: #2E86DE;
  --co-SoothingBreeze: #00CEC9;
  --co-Woodsmoke: #111113;
  --co-EbonyClay: #273039;
  --co-Polar: #F4F9FD;
  --co-RegentGray: #828E9A;
  --co-LimedSpruce: #333D47;
  --co-PapayaWhip: #FCF3CF;
  --co-Cultured: #F6F6F6;
  --co-JapaneseIndigo: #273746;
  --co-Indigo: #154360;
}
